#lyca-snow-canvas {
  position: fixed;
  inset: 0;
  z-index: 2147483647;
  pointer-events: none;
}

#lyca-snow-canvas canvas {
  position: absolute !important;
  inset: 0 !important;
  width: 100% !important;
  height: 100% !important;
  z-index: 2147483647 !important;
  pointer-events: none;
}
