.columns-features {
padding: var(--spacing-xl) 0;
}

.columns-features-container h2 {
text-align: center;
}

.columns-features > div {
display: flex;
flex-direction: column;
gap: var(--spacing-xl);
}

.columns-features > div > div {
text-align: center;
}

.columns-features .button-container a.button:any-link, button {
border: none;
background-color: unset;

&:hover {
background-color: none;
}
}

.columns-features img {
width: 80px;
height: 80px;
margin: 0 auto var(--spacing-m);
display: block;
}

.columns-features h3,
.columns-features strong {
font-size: var(--body-font-size-m);
color: var(--color-secondary-blue);
margin: var(--spacing-s) 0;
font-weight: 700;
display: block;
}

.columns-features p {
color: var(--color-text-secondary);
font-size: var(--body-font-size-s);
line-height: var(--line-height-relaxed);
}

/* Desktop / Tablet */
@media (width >= 900px) {
.columns-features > div {
flex-direction: row;
}

.columns-features > div > div {
flex: 1;
}
}
