.cards-blog > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
}

.cards-blog > ul > li {
  border: none;
  background-color: var(--background-color);
  border-radius: 14px !important;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  box-shadow: 0 3px 8px rgb(0 0 0 / 24%) !important;
  display: flex;
  flex-direction: column;
  min-height: 400px;
  padding: 0 !important;
}

.cards-blog > ul > li:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 16px rgb(0 0 0 / 12%) !important;
}

.cards-blog .cards-blog-card-body {
  padding: 20px;
}

.cards-blog .cards-blog-card-body p {
  margin: 5px 0;
}

.cards-blog .cards-blog-card-body strong {
  color: var(--color-secondary-blue);
  font-size: var(--body-font-size-m);
  font-weight: 600;
  line-height: var(--line-height-tight);
  display: block;
  margin-bottom: var(--spacing-s);
}

.cards-blog .cards-blog-card-body p:last-child {
  color: var(--color-text-secondary);
  font-size: var(--body-font-size-xs);
  margin-top: auto;
}

.cards-blog .cards-blog-card-image {
  line-height: 0;
  background-color: var(--background-gray);
}

.cards-blog > ul > li img {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  display: block;
}

@media (width >= 900px) {
  .cards-blog > ul {
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }
}
