/* stylelint-disable */
.cards-support-container h2 {
text-align: center;
}

.cards-support > ul {
list-style: none;
margin: 0;
padding: 0;
}

.cards-support > ul > li {
background-color: var(--background-color);
display: flex;
overflow: hidden;
cursor: pointer;
text-align: center;
justify-content: center;
}

.cards-support .button-container a.button:any-link, button {
border: none;
background-color: unset;

&:hover {
background-color: none;
}
}

.cards-support .cards-support-card-body {
padding: 20px;
}

.cards-support .cards-support-card-body p {
margin: 0;
}

.cards-support .cards-support-card-body a {
color: var(--color-secondary-blue);
font-size: var(--body-font-size-s);
font-weight: 500;
text-decoration: none;
display: block;
}

.cards-support .cards-support-card-body a:hover {
color: var(--color-accent-blue);
text-decoration: none;
}

.cards-support .cards-support-card-image {
line-height: 0;
background-color: #e0f2fe;
padding: var(--spacing-l);
display: flex;
align-items: center;
justify-content: center;
}

.cards-support > ul > li img {
width: 80px;
height: 80px;
object-fit: contain;
display: block;
margin: 0 auto;
}

@media (width >= 900px) {
.cards-support > ul {
grid-template-columns: repeat(4, 1fr);
gap: 24px;
}
}
